.home .cover {
    height: 400px;
    background-color: aliceblue;
    position: relative;
}

.home .cover .overlay{
    position: absolute;
    left: 0;
    right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000041;
}

.home .cover .overlay .title{
    color: #ffff;
    margin-top: 200px;
}
.home .cover .overlay .title p{
font-size: 34px;
}

.home .cover .overlay .title h1{
    margin-bottom: 6px;
}

.home .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 26px 30px;
    margin-top: -60px;
    margin-bottom: 60px;
    position: relative;
}