  .header{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #666666c1;
    top: 0;
    background: #fff;
  }
  
  .header ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
  }
  
  .header .content ul li{
    margin-left: 20px;
  
  }
  
.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  }
  